Flask==2.2.2
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
mysqlclient
sqlalchemy-utils
WTForms
Flask-WTF
email-validator
python-dotenv
flask-debugtoolbar
flask-ckeditor
pylint
pylint-flask
pylint-flask-sqlalchemy
