Flask==2.1.3
Werkzeug==2.0.3
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
mysqlclient
sqlalchemy-utils
WTForms
Flask-WTF
email-validator
python-dotenv
flask-debugtoolbar
flask-ckeditor
pylint
pylint-flask
pylint-flask-sqlalchemy
flask-smorest
marshmallow
